.addNewTeam {
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  position: relative;

  label {
    font-weight: 600;
  }

  &__formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__input {
    padding: 0.3rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid rgb(85, 85, 85);
  }

  &__btn {
    padding: 0.3rem 1rem;
    margin-top: 1rem;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
  }
}
