.teamPage {
  padding: 4rem 0;

  &__container {
    border-bottom: 1px solid black;
    padding: 1rem 0;
  }

  &__title {
    text-align: center;
  }

  &__btn {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
  }

  &__list {
    padding: 1rem 0;
    list-style: none;

    &-item {
      padding: 0.5rem;
      overflow-y: scroll;
      &:nth-of-type(even) {
        background-color: rgba(0, 0, 0, 0.185);
      }
    }
  }
}
